html,
body,
.side-menu-container,
.side-menu-container>.navbar-nav {
    height: 78%;
}

.year-block {
    margin-left: -1%;
    margin-right: -1%;
}

/*=============== 頁籤 ================*/
.nav-tabsWrap {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    background: #656E99;

}
.nav-tabsWrap::-webkit-scrollbar {
    display: none;
}

.nav-tabs {
    border-bottom: 1px solid #485281;
    background:
        /*#8cc152;*/
        #656E99;
    padding-top: 10px;
    padding-left: 5px;
    font-size: 15px; 
    font-family: Microsoft JhengHei;
    border-radius: 4px 4px 0 0;
    /* border: 1px solid #3D4A86; */
    height: 48px;
    display: flex;
    white-space: nowrap;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(256, 256, 256, 0);
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #FFF;
}

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: #FFF;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #FFF;
    padding-left: 5px;
    padding-right: 5px;
    /* padding-left: 3px; */
    /* padding-right: 3px; */
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    background:
        /*#b0e972;*/
        #62c2e4;
    height: 40px;
    margin-top: -3px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #52575a;
    cursor: default;
    background-color: #fff;
    margin-top: -3px;
    border-bottom-color: transparent;
    border-top: 4px solid #67ACDE;
    height: 40px;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.nav-tabs.nav-justified>li {
    float: none;
}

.nav-tabs.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
}

.nav-tabs.nav-justified>.dropdown .dropdown-menu {
    top: auto;
    left: auto;
}

.tab-content>.tab-pane {
    display: none;
    /*border-left: 1px solid #7bb33e;
  border-right: 1px solid #7bb33e;
  border-bottom: 1px solid #7bb33e;*/
    /*  border-left: 1px solid #2e6aae;
    border-right: 1px solid #2e6aae;
    border-bottom: 1px solid #2e6aae;
    border-radius: 0 0 4px 4px;*/
    min-height: 500px;
}

.tab-content>.active {
    display: block;
}

/*.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;/*  border: 1px solid transparent;*/
}

*/

/*========= 常用class =========*/
h3 {
    line-height: 40px;
    font-size: 20px;
    margin: 0;
}

.h3-blue {
    border-bottom: 3px solid #2dc3e8;
    color: #2dc3e8;
    line-height: 36px;
    font-size: 18px;
}

.h3-blue .date {
    font-size: 16px;
    color: #e75b8d;
    font-family: Arial, Helvetica, sans-serif;
}

.h3-green {
    border-bottom: 3px solid #53a93f;
    color: #53a93f;
    line-height: 36px;
    font-size: 18px;
}

.h3-bluegray {
    /*  border-top: 1px solid #71b1de;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    color: #71b1de;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
}

.h3-bluegray2 {
    /*  border-top: 1px solid #71b1de;*/
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -7px;
    color: #71b1de;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-family: Microsoft JhengHei;
}

h4,
.h4 {
    text-indent: 10px;
    font-size: 16px;
    /* margin-top:0; margin-bottom:0;*/
    margin-top: -5px;
    margin-bottom: -5px;
}

/*========= 水情h4 =========*/
.bg-lightblue h4,
.bg-yellow2 h4,
.bg-lightpurple h4,
.bg-lightgreen h4,
.bg-lightpink h4 {
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
}

.bg-lightblue hr,
.bg-yellow2 hr,
.bg-lightpurple hr,
.bg-lightgreen hr,
.bg-lightpink hr {
    margin-bottom: 0;
    margin-top: 0;
}

.h3_purple {
    height: 30px;
    line-height: 30px;
    background: #656e99;
    color: #FFF;
    font-size: 18px;
    text-indent: 20px;
    margin-top: -5px;
    margin-bottom: 0px;
}

.h4-blue {
    height: 30px;
    line-height: 5px;
    background: #39F;
    color: #FFF;
    font-size: 18px;
}

.h4-gold {
    height: 30px;
    line-height: 5px;
    background: #ffce55;
    color: #FFF;
    font-size: 18px;
}

.h4-purple {
    height: 30px;
    line-height: 5px;
    background: #e7a2fd;
    color: #FFF;
    font-size: 18px;
}

.h4-lightgreen {
    height: 30px;
    line-height: 5px;
    background: #93d676;
    color: #FFF;
    font-size: 18px;
}

.h4-lightpink {
    height: 30px;
    line-height: 5px;
    background: #f6a9a9;
    color: #FFF;
    font-size: 18px;
}

.h4-line {
    height: 5px;
}

.s-list {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 8px
}

.s-list li {
    line-height: 25px;
    font-size: 14px;
    overflow: hidden;
}

.p-pink {
    color: #e75b8d;
    line-height: 40px;
    font-size: 20px;
}

.D-block {
    margin-top: 30px;
    margin-bottom: 50px;
}

.p-red {
    color: #F00;
}

.D-block>p {
    line-height: 20px;
    color: #2dc3e8;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.D-block>p>.DYspan {
    font-size: 15px;
    color: #424a5d;
}

.D-block img {
    width: 150px;
    margin-bottom: 40px;
}

.Y-block img {
    width: 150px;
    margin-bottom: 30px;
}

.Y-block {
    margin-top: 30px;
    margin-bottom: 50px;
}

.Y-block>.p-green {
    line-height: 24px;
    color: #53a93f;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.Y-block>p>.DYspan {
    font-size: 15px;
    color: #424a5d;
}

.w-img {
    width: 50px;
    /*margin-left: -15px;*/
    margin-left: -8px;
}

.font12 {
    font-size: 12px;
}

.font13 {
    font-size: 13px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font22 {
    font-size: 20px;
}

.font150 {
    font-size: 150%;
}

.Gline {
    border-bottom: 1px dashed #999;
    line-height: 30px;
}

.databox {
    display: inline-block;
    width: 100%;
    height: 80px;
    padding: 0;
    font-size: 0;
    /*  margin-bottom: 30px;*/
    vertical-align: top;
    min-width: 130px;
}

.box75 {
    width: 60px;
    display: inline-block;
    text-align: right;
}

/*========= 位移 =========*/

.P-RL5 {
    padding-left: 5px;
    padding-right: 5px;
}

.margin-R5 {
    margin-right: 8px;
}

.margin-R18 {
    margin-right: 18px;
}

.margin-R5px {
    margin-right: 5px;
}

.margin-L-20 {
    margin-left: -20px;
}

.margin-L5 {
    margin-left: 5px;
}

.margin-L10 {
    margin-left: 10px;
}

.margin-L25 {
    margin-left: 25px;
}

.margin-T5 {
    margin-top: 5px;
}

.margin-T10 {
    margin-top: 10px;
}

.margin-T15 {
    margin-top: 15px;
}
.margin-T-3 {
    margin-top: -3px;
}
.margin-T-5 {
    margin-top: -5px;
}

.margin-T-10 {
    margin-top: -10px;
}

.margin-T-12 {
    margin-top: -12px;
}

.margin-T-15 {
    margin-top: -15px;
}

.margin-B15 {
    margin-bottom: 15px;
}

.padding-T15 {
    padding-top: 15px;
}

.padding-B100 {
    padding-bottom: 100px;
}

.vertical-middle {
    vertical-align: middle;
}

.row {
    padding-bottom: 150px;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.width100 {
    width: 100%;
}

.Dateh3 {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #666;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    text-indent: -10px;
}

.Dateh3-s {
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 7px;
    color: #656E99;
    font-size: 12px;
}

.Datehr {
    margin-bottom: 0;
    margin-top: 0px;
}

.dashed_hr {
    border-bottom: 1px dashed #e7e7e7;
    height: 1px;
    border-top: none;
    margin-top: 7px;
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

/*========= FOOTER選單 =========*/
.footer-nav {
    padding-left: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    background: #424a5d;
    border-top: 2px solid #fff;

}

.footer-nav li {
    float: left;
    width: 20%;
    list-style-type: none;
    text-align: center;
    background: #424a5d;
    height: 66px;
    border-left: 1px solid #fff;
    padding-left: 0.08%
}

.footer-nav li a {
    display: block;
    color: #FFF;
    padding-top: -20px;
}

.footer-nav li a:hover,
.footer-nav li.active a {
    border-top: 4px solid #069;
    height: 66px;
    background: #2dc3e8;
    text-decoration: none;
}

.footer-nav-6 {
    padding-left: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    background: #424a5d;
    border-top: 2px solid #fff;

}

.footer-nav-6 li {
    float: left;
    width: 16.6%;
    list-style-type: none;
    text-align: center;
    background: #424a5d;
    height: 66px;
    border-left: 1px solid #fff;
    padding-left: 0.08%
}

.footer-nav-6 li a {
    display: block;
    color: #FFF;
    padding-top: -20px;
}

.footer-nav-6 li a:hover,
.footer-nav-6 li.active a {
    border-top: 4px solid #069;
    height: 66px;
    background: #2dc3e8;
    text-decoration: none;
}

.footer-nav-6 img {
    width: 53px;
    height: 43px;
}

/*========= list-group-item =========*/
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.list-group a:last-child {
    border-bottom: 1px solid #ddd;
}

/*.list-group-item {  padding: 0px 0px;}*/
.list-group-item-heading {
    margin-top: 0px;
}

/*========= databox  =========*/
.databox .databox-left {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    /*  width: 140px;*/
    height: 80px;
    padding: 20px;
    color: #2dc3e8;
    width: 20%;
}

.databox .databox-left[class*="bg-"] {
    color: #fff
}

.databox .databox-right {
    position: relative;
    display: inline-block;
    width: 5%;
    color: #999;
    font-size: 20px;
    float: right;
    height: 80px;
    margin-top: -30px;
    margin-right: -5%;
    vertical-align: middle;
    /*
     
    */
    text-align: right;
    /*margin-right:12%;*/
    /*padding: 5px 10px*/
}

.databox .databox-right.bordered {
    border-left: 1px solid #fff
}

.databox .databox-right.bordered-thick {
    border-left: 3px solid #fff
}

.databox .databox-right[class*="bg-"] {
    color: #000
}

.databox.databox-lg .databox-number {
    font-size: 26px;
    /*margin: 4px 0 6px*/
}

.themesecondary {
    color: #fb6e52 !important
}

.databox .databox-text {
    /*display: block;*/
    font-size: 14px;
    position: relative
}

.databox .databox-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    height: 80px;
    color: #555;
}

.databox .databox-header {
    display: block;
    font-size: 18px;
    font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    font-weight: 400;
    margin: 8px 5px;
    position: relative
}

.databox .databox-number {
    /*display: block;*/
    vertical-align: bottom;
    font-size: 26px;
    line-height: 25px;
    margin: 2px;
    position: relative;
    font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica
}

.databox .databox-title {
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin: 2px;
    position: relative
}

/*========= navbar =========*/
.navbar {
    margin-bottom: -30px;
}

/*========= label =========*/
.label-Top {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    text-align: center;
}

.label-Bottom {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-top: 30px;
    text-align: center;
}

.label {
    display: inline;
    padding: .2em .3em .3em;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: right;
    /*  white-space: nowrap;*/
    /* vertical-align: baseline;*/
    vertical-align: middle;
    border-radius: .25em;
    text-indent: 0px;
}

.label-85 {
    display: inline;
    font-size: 85%;
    color: #fff;
    text-align: right;
    /*  white-space: nowrap;*/
    vertical-align: baseline;
    border-radius: .25em;
    text-indent: 0px;
}

/*========= alert =========*/
.alert.alert-info {
    border-color: #11a9cc;
    background: #57b5e3;
}

.alert {
    font-size: 18px;
    /* margin-bottom: 0px;*/
    /* margin-top: 20px;*/
    color: #fff;
    border-width: 0;
    border-left-width: 5px;
    padding: 10px;
    border-radius: 0;
}

.alert.alert-success {
    border-color: #8cc474;
    background: #a0d468;
}

.alert img {
    width: 38px;
    height: 28px;
    padding-top: -5px;
}

.panel-heading {
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-heading a {
    text-decoration: none;
}

@media (max-width: 900px) {
    .D-block>p {
        line-height: 20px;
        color: #2dc3e8;
        text-align: center;
        font-size: 35px;
    }

    .Y-block>p {
        line-height: 20px;
        color: #2dc3e8;
        text-align: center;
        font-size: 50px;
    }

    .Y-block>.p-green {
        font-size: 35px;
        margin-top: 10px;
    }

    .D-block img {
        width: 100px;
        margin-bottom: 30px;
    }

    .Y-block img {
        width: 100px;
        margin-bottom: 20px;
    }

    .w-img {
        width: 50px;
        margin-left: -8px;
    }

    .box75 {
        width: 60px;
        display: inline-block;
        text-align: right;
    }

    .alert {
        font-size: 18px;
        /* margin-top:20px;*/
        color: #fff;
        border-width: 0;
        border-left-width: 5px;
        padding: 7px;
        border-radius: 0;
    }

    .main-container {
        background: #FFF;
        /*padding-top: 15px;*/
        /*margin-top: -15px;*/
    }
}

@media (max-width: 600px) {
    .databox-text {
        width: 35%;
        vertical-align: bottom;
    }

    .label-Top {
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        margin-top: 10px;
        text-align: left;
        text-indent: 2%;
    }

    .label-Bottom {
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        margin-top: 0px;
        text-align: left;
        text-indent: 2%;
    }

    .label-Top span {
        text-indent: 0%;
        letter-spacing: -1px;
    }

    .label-Bottom span {
        text-indent: 0%;
        letter-spacing: -1px;
    }

    .databox .databox-left {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        margin: 0;
        /*  width: 140px;*/
        height: 80px;
        padding: 20px;
        color: #2dc3e8;
        width: 38%;
    }

    .databox .databox-content {
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        width: 59%;
        text-align: left;
        height: 80px;
        color: #555;
    }

    .databox .databox-right {
        position: relative;
        text-align: right;
        display: inline-block;
        width: 3%;
        color: #999;
        font-size: 20px;
        height: 80px;
        margin-top: -50px;
        margin-right: 5px;
        vertical-align: middle;
        /*
     
    */
        /*margin-right:12%;*/
        /*padding: 5px 10px*/
    }

    .databox .databox-number {
        /*display: block;*/
        vertical-align: middle;
        font-size: 26px;
        line-height: 30px;
        position: relative;
        font-family: 'Roboto', 'Lucida Sans', 'trebuchet MS', Arial, Helvetica
    }

    .box75 {
        width: 60px;
        display: inline-block;
        text-align: right;
    }

    .alert {
        font-size: 18px;
        /* margin-top:20px;*/
        color: #fff;
        border-width: 0;
        border-left-width: 5px;
        padding: 10px;
        border-radius: 0;
    }

    .main-container {
        background: #FFF;
        /*padding-top: 15px;*/
        /*margin-top: -30px;*/
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .nav-tabs>li>a {
        padding-left: 4px;
        padding-right: 4px;
        font-size: 13px;
        margin-right: 0px;
    }

    .databox-text {
        width: 40%;
        vertical-align: bottom;
    }

    .label-Top {
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        margin-top: 15px;
        text-align: left;
        text-indent: 2%;
        line-height: 16px;
    }

    .label-Bottom {
        width: 100%;
        display: inline-block;
        vertical-align: bottom;
        margin-top: -5px;
        text-align: left;
        text-indent: 2%;
        line-height: 16px;
    }

    .databox .databox-number {
        font-size: 22px;
        letter-spacing: 0px;
        text-indent: 1%;
    }

    .databox .databox-left {
        width: 42%;
        padding: 20px 10px 20px;
        font-size: 14px;
    }

    .databox .databox-content {
        width: 55%;
        ;
        vertical-align: bottom;
        line-height: 16px;
    }

    .databox .databox-right {
        position: relative;
        text-align: right;
        display: inline-block;
        width: 3%;
        color: #999;
        font-size: 20px;
        height: 80px;
        margin-top: -40px;
        margin-right: 3px;
        vertical-align: middle;
    }

    .box75 {
        width: 60px;
        display: inline-block;
        text-align: right;
    }

    html,
    body,
    .side-menu-container,
    .side-menu-container>.navbar-nav {
        height: 74%;
    }

    .alert {
        font-size: 18px;
        /*margin-top:10px;*/
        color: #fff;
        border-width: 0;
        border-left-width: 5px;
        padding: 10px;
        border-radius: 0;
    }

    .main-container {
        background: #FFF;
        /*padding-top: 15px;*/
        /*margin-top: -30px;*/
    }

    .alert img {
        display: none;
    }
}

.linelightpink {
    border-top: 1px solid #f6a9a9 !important;
}

.linelightgreen {
    border-top: 1px solid #a6ef87 !important;
}

.linepurple {
    border-top: 1px solid #e7a2fd !important;
}

.linegold {
    border-top: 1px solid #ffce55 !important;
}

.lineinfo {
    border-top: 1px solid #57b5e3;
}

/*========= 字體顏色 =========*/
.themeprimary {
    color: #2dc3e8 !important;
}

.themesecondary {
    color: #fb6e52 !important;
}

.themethirdcolor {
    color: #ffce55 !important;
}

.themefourthcolor {
    color: #a0d468 !important;
}

.themefifthcolor {
    color: #e75b8d !important;
}

.white {
    color: #ffffff !important;
}

.snow {
    color: #fbfbfb !important;
}

.whitesmoke {
    color: #f5f5f5 !important;
}

.seashell {
    color: #f3f3f3 !important;
}

.ivory {
    color: #eeeeee !important;
}

.platinum {
    color: #e5e5e5 !important;
}

.lightgray {
    color: #d0d0d0 !important;
}

.gray {
    color: #cccccc !important;
}

.darkgray {
    color: #999999 !important;
}

.silver {
    color: #777777 !important;
}

.sonic-silver {
    color: #737373 !important;
}

.storm-cloud {
    color: #666666 !important;
}

.lightcarbon {
    color: #555555 !important;
}

.carbon {
    color: #444444 !important;
}

.slate-gray {
    color: #333333 !important;
}

.darkcarbon {
    color: #262626 !important;
}

.blue {
    color: #5db2ff !important;
}

.info {
    color: #57b5e3 !important;
}

.sky {
    color: #11a9cc !important;
}

.primary {
    color: #4374e0 !important;
}

.azure {
    color: #2dc3e8 !important;
}

.blueberry {
    color: #6f85bf !important;
}

.palegreen {
    color: #a0d468 !important;
}

.success {
    color: #53a93f !important;
}

.green {
    color: #8cc474 !important;
}

.lightyellow {
    color: #f6d52e !important;
}

.yellow {
    color: #ffce55 !important;
}

.warning {
    color: #f4b400 !important;
}

.gold {
    color: #f9b256 !important;
}

.orange {
    color: #ff6600 !important;
}

.lightred {
    color: #e46f61 !important;
}

.darkorange {
    color: #ed4e2a !important;
}

.red {
    color: #df5138 !important;
}

.pink {
    color: #e75b8d !important;
}

.darkpink {
    color: #cc324b !important;
}

.danger {
    color: #bf0000 !important;
}

.magenta {
    color: #bc5679 !important;
}

.purple {
    color: #7e3794 !important;
}

.maroon {
    color: #981b48 !important;
}

.f-lead {
    color: #7d4a82 !important;
}

.f-conform {
    color: #81c538 !important;
}

.f-behind {
    color: #ff6d60 !important;
}

.f-all {
    color: #428bca !important;
}

.font-bold {
    font-weight: bold;
}

.dodgerblue {
    color: #3399FF;
}

.orangepeel {
    color: #FF9900;
}

/*========= 背景顏色 =========*/
.bg-themeprimary {
    background-color: #2dc3e8 !important;
}

/*水藍*/
.bg-themesecondary {
    background-color: #fb6e52 !important;
}

/*橘紅*/
.bg-themesecondary2 {
    background-color: #fb6e52 !important;
}

/*橘紅*/
.bg-themethirdcolor {
    background-color: #ffce55 !important;
}

/*銘黃*/
.bg-themefourthcolor {
    background-color: #a0d468 !important;
}

/*綠*/
.bg-themefifthcolor {
    background-color: #e75b8d !important;
}

/*桃紅*/
.bg-white {
    background-color: #ffffff !important;
}

.bg-snow {
    background-color: #fbfbfb !important;
}

.bg-whitesmoke {
    background-color: #f5f5f5 !important;
}

.bg-seashell {
    background-color: #f3f3f3 !important;
}

.bg-ivory {
    background-color: #eeeeee !important;
}

.bg-platinum {
    background-color: #e5e5e5 !important;
}

.bg-lightgray {
    background-color: #d0d0d0 !important;
}

.bg-gray {
    background-color: #aaaaaa !important;
}

.bg-darkgray {
    background-color: #999999 !important;
}

.bg-silver {
    background-color: #777777 !important;
}

.bg-sonic-silver {
    background-color: #737373 !important;
}

.bg-storm-cloud {
    background-color: #666666 !important;
}

.bg-lightcarbon {
    background-color: #555555 !important;
}

.bg-carbon {
    background-color: #444444 !important;
}

.bg-slate-gray {
    background-color: #333333 !important;
}

.bg-darkcarbon {
    background-color: #262626 !important;
}

.bg-lightblue {
    background-color: #e2f7ff !important;
}

.bg-blue {
    background-color: #5db2ff !important;
}

.bg-info {
    background-color: #57b5e3 !important;
}

.bg-sky {
    background-color: #11a9cc !important;
}

.bg-primary {
    background-color: #4374e0 !important;
}

.bg-azure {
    background-color: #2dc3e8 !important;
}

.bg-blueberry {
    background-color: #6f85bf !important;
}

.bg-palegreen {
    background-color: #a0d468 !important;
}

.bg-success {
    background-color: #53a93f !important;
}

.bg-lightgreen {
    background-color: #ddffcf !important;
}

.bg-green {
    background-color: #8cc474 !important;
}

.bg-yellow2 {
    background-color: #fff3b9 !important;
}

.bg-lightyellow {
    background-color: #f6d52e !important;
}

.bg-yellow {
    background-color: #ffce55 !important;
}

.bg-warning {
    background-color: #f4b400 !important;
}

.bg-gold {
    background-color: #f9b256 !important;
}

.bg-orange {
    background-color: #fb6e52 !important;
}

.bg-lightred {
    background-color: #e46f61 !important;
}

.bg-darkorange {
    background-color: #ed4e2a !important;
}

.bg-red {
    background-color: #df5138 !important;
}

.bg-danger {
    background-color: #d73d32 !important;
}

.bg-pink {
    background-color: #e75b8d !important;
}

.bg-darkpink {
    background-color: #cc324b !important;
}

.bg-magenta {
    background-color: #bc5679 !important;
}

.bg-lightpurple {
    background-color: #f5ddfc !important;
}

.bg-purple {
    background-color: #7d538a !important;
}

.bg-maroon {
    background-color: #981b48 !important;
}

.bg-lightpink {
    background-color: #ffe4e4 !important;
}

.bg-lead {
    background-color: #f0ad4e !important;
}

.bg-conform {
    background-color: #81c538 !important;
}

.bg-behind {
    background-color: #ff6d60 !important;
}

.bg-all {
    background-color: #428bca !important;
}

/*=================*/
.btn-peach {
    color: #ffffff;
    background-color: #fa8480;
    border-color: #eb6864;
}

.btn-peach:hover,
.btn-peach:focus,
.btn-peach.focus,
.btn-peach:active,
.btn-peach.active,
.open>.dropdown-toggle.btn-peach {
    color: #ffffff;
    background-color: #e53c37;
    border-color: #e4332e;
}

.btn-peach:active,
.btn-peach.active,
.open>.dropdown-toggle.btn-peach {
    background-image: none;
}

.btn-peach.disabled,
.btn-peach[disabled],
fieldset[disabled] .btn-peach,
.btn-peach.disabled:hover,
.btn-peach[disabled]:hover,
fieldset[disabled] .btn-peach:hover,
.btn-peach.disabled:focus,
.btn-peach[disabled]:focus,
fieldset[disabled] .btn-peach:focus,
.btn-peach.disabled.focus,
.btn-peach[disabled].focus,
fieldset[disabled] .btn-peach.focus,
.btn-peach.disabled:active,
.btn-peach[disabled]:active,
fieldset[disabled] .btn-peach:active,
.btn-peach.disabled.active,
.btn-peach[disabled].active,
fieldset[disabled] .btn-peach.active {
    background-color: #fa8480;
    border-color: #eb6864;
}

.btn-peach .badge {
    color: #eb6864;
    background-color: #ffffff;
}

/*========= 工程查詢 =========*/

/*====工程查詢tab====*/
/* Portlet */
.portlet {}

.portlet.portlet-gray {
    background: #f7f7f7;
}

.portlet.portlet-bordered {
    border: 1px solid #eee;
}

.portlet>.portlet-body>.tab-content>.tab-content>.active {
    display: block;
}

.portlet>.portlet-body>.tab-content>.tab-content>.tab-pane {
    display: none;
    border: none;
}

/* Portlet Title */
.portlet-title {
    padding: 0;
    height: 40px;
    margin-bottom: 20px;
}

/* Tab */
.portlet-title>.nav-tabs {
    background: none;
    margin: 0;
    float: left;
    display: inline-block;
    border: 0;
    width: 100%;
    padding: 0px;
    height: 40px;
}

.portlet-title>.nav-tabs>li {
    background: none;
    margin: 0;
    border: 0;
    width: 25%;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
    background: #f6f6f6;
}

.portlet-title>.nav-tabs>li.i-conform {
    background: url(../img/conform.svg) no-repeat right bottom #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.portlet-title>.nav-tabs>li.i-lead {
    background: url(../img/lead.svg) no-repeat right bottom #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.portlet-title>.nav-tabs>li.i-behind {
    background: url(../img/behind.svg) no-repeat right bottom #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.portlet-title>.nav-tabs>li.all {
    background: #e6e6e6;
    /*border-right: 1px solid #FFF;*/
}

.portlet-title>.nav-tabs>li>a {
    background: none;
    border: 0;
    text-align: left;
    /*padding: 2px 10px 13px;*/
    color: #444;
    height: 40px;
}

.portlet-title>.nav-tabs>li.active>a,
.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
    margin-top: -5px;
}

.portlet-title>.nav-tabs>.i-lead.active>a,
.portlet-title>.nav-tabs>.i-lead:hover>a {
    color: #333;
    border: 0;
    background: url(../img/lead.svg) no-repeat right bottom #FFF;
    background-size: contain;
}

.portlet-title>.nav-tabs>.i-conform.active>a,
.portlet-title>.nav-tabs>.i-conform:hover>a {
    color: #333;
    border: 0;
    background: url(../img/conform.svg) no-repeat right bottom #FFF;
    background-size: contain;
}

.portlet-title>.nav-tabs>.i-behind.active>a,
.portlet-title>.nav-tabs>.i-behind:hover>a {
    color: #333;
    border: 0;
    background: url(../img/behind.svg) no-repeat right bottom #FFF;
    background-size: contain;
}

.portlet-title>.nav-tabs>li.active,
.portlet-title>.nav-tabs>li.active:hover {
    padding-top: 5px;
    background: #FFF;
    border-bottom: 1px solid #FFF;
}

.portlet-title>.nav-tabs>.i-lead.active,
.portlet-title>.nav-tabs>.i-lead.active:hover {
    border-top: 4px solid #7d4a82;
}

.portlet-title>.nav-tabs>.i-conform.active,
.portlet-title>.nav-tabs>.i-conform.active:hover {
    border-top: 4px solid #81c538;
}

.portlet-title>.nav-tabs>.i-behind.active,
.portlet-title>.nav-tabs>.i-behind.active:hover {
    border-top: 4px solid #ff6d60;
}

.portlet-title>.nav-tabs>.all.active,
.portlet-title>.nav-tabs>.all.active:hover {
    border-top: 4px solid #428bca;
}

.portlet-title>.nav-tabs>li:hover {
    padding-top: 5px;
    background: #FFF;
    border-bottom: 1px solid #FFF;
}

.portlet-title>.nav-tabs>.i-lead:hover {
    border-top: 4px solid #b78bbb;
}

.portlet-title>.nav-tabs>.i-conform:hover {
    border-top: 4px solid #cbe9ab;
}

.portlet-title>.nav-tabs>.i-behind:hover {
    border-top: 4px solid #fbbeb9;
}

.portlet-title>.nav-tabs>.all:hover {
    border-top: 4px solid #90c4f1;
}

.badge-O {
    display: inline-block;
    min-width: 10px;
    /*padding: 7px 6px;*/

    /*  border-radius: 20px;*/
    margin-top: -5px;

    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;

}

.fix-arrow {
    position: absolute;
    right: 10px;
    top: 30%;
}

@media (max-width: 320px) {
    .badge-O {
        display: inline-block;
        min-width: 10px;
        padding: 7px 6px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #777;
        border-radius: 20px;
        margin-top: 0px;
    }
}

.badge-all {
    background: #428bca;
}

.badge-behind {
    background: #ff6d60;
}

.badge-conform {
    background: #81c538;
}

.badge-lead {
    background: #7d4a82;
}

/*====工程查詢列表====*/
.list-group-item {
    overflow: hidden;
}

a.list-group-item .list-group-item-heading {
    color: #333;
    line-height: 20px;
    text-indent: 0;
    color: #46538e;
    overflow: hidden
}

/*====工程查詢內圖表====*/
.easyPieChart {
    position: relative;
    text-align: center;
    margin-right: 18px;
}

.margin-auto {
    margin: 0 auto;
}

.easyPieChart canvas {
    position: absolute;
    top: 0px;
    left: 0;
}

.font-90 {
    font-size: 90%;
}

.piechart-footer {
    margin-top: 3px;
}

code {
    font-size: 90%;
    color: #999;
    background-color: transparent;
    border-radius: 4px;
}

/*===========工程查詢page02==============*/
.eng-list {
    border: none;
}

.panel-default>.panel-heading {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    vertical-align: middle;
    color: #FFF;
    background-color: #656e99;
    border-color: #ddd;
    border-bottom: 1px solid #FFF;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.eng-list .panel-title {
    line-height: 30px;
    border: none;
}

.eng-list .panel-body {
    border: none;
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: none;
}

.eng-table {
    width: 100%;
    font-size: 16px;
}

.eng-table tr th {
    font-size: 18px;
    min-width: 120px;
    line-height: 42px;
}

.eng-table tr {
    border-bottom: 1px solid #9ba6dc;
    vertical-align: middle;
}

.eng-table td {
    line-height: 24px;
    padding-left: 20px;
}

/*========= 執行狀態統計=========*/
.panel-success>.panel-heading {
    font-size: 18px;
    line-height: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #ff6d60;
    border-color: #ff6d60;
}

.panel-warning>.panel-heading {
    font-size: 18px;
    line-height: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #a0d468;
    border-color: #8cc474;
}

.panel-warning {
    border-color: #8cc474;
}

.panel-info>.panel-heading {
    font-size: 18px;
    line-height: 10px;
    vertical-align: middle;
    color: #ffffff;
    background-color: #e75b8d;
    border-color: #b8476f;
}

.panel-info {
    border-color: #b8476f;
}

.status {
    font-family: 'Source Sans Pro', sans-serif;
}

.status .panel-title {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    line-height: 45px;
    padding-top: 5px;
    letter-spacing: -0.8px;
}

.status .panel-body {
    font-family: Microsoft JhengHei;
    font-size: 18px;
    font-weight: bold;
    color: #424a5d;
}

@media (max-width: 320px) {
    .status .panel-title {
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        font-weight: bold;
        color: #fff;
        line-height: 45px;
        padding-top: 5px;
        letter-spacing: -0.8px;
    }

    .status .panel-body {
        font-family: Microsoft JhengHei;
        font-size: 12px;
        font-weight: bold;
        color: #424a5d;
    }
}

/*=======執行狀態 nav=========*/
.ES_nav {
    /*width: 100%;
    display: inline-block;*/
    background: #71b1de;
    height: 128px;
    padding: 0;
    text-align: center;
}

.ES_nav li {
    /*float: left;
    width: 25%;*/
    list-style: none;
    display: inline-block;
    margin-left: -10px;
}

.ES_nav li a {
    /*line-height: 220px;*/
    color: #FFF;
    /*float: left;*/
    /*line-height: 128px;*/
    text-align: center;
    font-size: 16px;
    height: 128px;
    background: no-repeat center;
    background-size: 75px auto;
    display: inline-block;
    width: 110px;
    padding-top: 60px;
    text-shadow: 2px 2px 2px #333;
    text-decoration: none;
    /*border:1px solid red;*/
}

.ES_nav li a span {
    font-size: 45px;
    line-height: 20px;
}

.ES_nav li.ES_nav_01 a {
    background-image: url(../img/ES_nav_01.png);
    background-position: center 10px;
}

.ES_nav li.ES_nav_02 a {
    background-image: url(../img/ES_nav_02.png);
    background-position: center 10px;
}

.ES_nav li.ES_nav_03 a {
    background-image: url(../img/ES_nav_03.png);
    background-position: center 10px;
}

.ES_nav li.ES_nav_04 a {
    background-image: url(../img/ES_nav_04.png);
    background-position: center 10px;
}

.ES_nav li a:hover,
.ES_nav li.active a {}

.ES_nav .slash {
    display: inline-block;
    border-left: 2px solid #FFF;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
    height: 45px;
    margin: 44px 25px;
    /*margin-right:-10px;*/
    width: 10px;
    float: right;
    padding-top: 0px;
}

@media (min-width: 370px) and (max-width: 480px) {
    .ES_nav {
        height: 100px;
    }

    .ES_nav li {
        /*float: left;
    width: 25%;*/
        list-style: none;
        display: inline-block;
        margin-left: 0px;
        margin-top: -15px;
    }

    .ES_nav li a {
        background-size: 60px auto;
        display: inline-block;
        width: 80px;
        margin: 10px 0px;
        font-size: 13px;
    }

    .ES_nav .slash {
        display: inline-block;
        border-left: 2px solid #FFF;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
        height: 60px;
        margin: 40px 8px;
        /*margin-right:-10px;*/
        width: 3px;
        float: right;
        padding-top: 0px;
    }

    .ES_nav li a span {
        font-size: 36px;
        margin-top: 0px;
        line-height: 10px;
    }

    .ES_nav li.ES_nav_01 a {
        background-position: center 15px;
    }

    .ES_nav li.ES_nav_02 a {
        background-position: center 15px;
    }

    .ES_nav li.ES_nav_03 a {
        background-position: center 15px;
    }

    .ES_nav li.ES_nav_04 a {
        background-position: center 15px;
    }
}

@media (min-width: 320px) and (max-width: 360px) {
    .ES_nav {
        height: 88px;
    }

    .ES_nav li {
        /*float: left;
    width: 25%;*/
        list-style: none;
        display: inline-block;
        margin-left: -10px;
        margin-top: -20px;
    }

    .ES_nav li a {
        background-size: 50px auto;
        display: inline-block;
        width: 70px;
        margin: 0x 0px;
        font-size: 13px;
    }

    .ES_nav .slash {
        display: inline-block;
        border-left: 2px solid #FFF;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
        height: 45px;
        margin: 24px 3px;
        /*margin-right:-10px;*/
        width: 3px;
        float: right;
        padding-top: 0px;
    }

    .ES_nav li a span {
        font-size: 36px;
        margin-top: -20px;
        line-height: 10px;
    }

    .ES_nav li.ES_nav_01 a {
        background-position: center 25px;
    }

    .ES_nav li.ES_nav_02 a {
        background-position: center 25px;
    }

    .ES_nav li.ES_nav_03 a {
        background-position: center 25px;
    }

    .ES_nav li.ES_nav_04 a {
        background-position: center 25px;
    }
}

/*====== 執行狀態詳細工程名稱tab======*/

/*.ES_detailTab */
.ES_detailTab {}

.ES_detailTab.ES_detailTab-gray {
    background: #f7f7f7;
}

.ES_detailTab.ES_detailTab-bordered {
    border: 1px solid #eee;
}

.ES_detailTab>.ES_detailTab-body>.tab-content>.tab-content>.active {
    display: block;
}

.ES_detailTab>.ES_detailTab-body>.tab-content>.tab-content>.tab-pane {
    display: none;
    border: none;
}

/*.ES_detailTab Title */
.ES_detailTab-title {
    padding: 0;
    height: 40px;
    margin-bottom: 20px;
}

/* Tab */
.ES_detailTab-title>.nav-tabs {
    background: none;
    margin: 0;
    float: left;
    display: inline-block;
    border: 0;
    width: 100%;
    padding: 0px;
    height: 40px;
}

.ES_detailTab-title>.nav-tabs>li {
    background: none;
    margin: 0;
    border: 0;
    width: 25%;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    font-size: 18px;
    font-weight: bold;
    /*  background: #f6f6f6;*/
    background: #e6e6e6;
    border-right: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>li.ES_detailTab_tab1 {
    background: #e6e6e6;
    border-right: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>li.ES_detailTab_tab2 {
    background: #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>li.ES_detailTab_tab3 {
    background: #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>li.ES_detailTab_tab4 {
    background: #e6e6e6;
    background-size: contain;
    border-right: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>li>a {
    background: none;
    border: 0;
    text-align: left;
    /*padding: 2px 10px 13px;*/
    color: #444;
    height: 40px;
}

.ES_detailTab-title>.nav-tabs>li.active>a,
.ES_detailTab-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
}

.ES_detailTab-title>.nav-tabs>li.active,
.ES_detailTab-title>.nav-tabs>li.active:hover {
    padding-top: 4px;
    background: #FFF;
    border-bottom: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab4.active,
.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab4.active:hover {
    border-top: 4px solid #7d4a82;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab3.active,
.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab3.active:hover {
    border-top: 4px solid #81c538;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab2.active,
.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab2.active:hover {
    border-top: 4px solid #ff6d60;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab1.active,
.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab1.active:hover {
    border-top: 4px solid #428bca;
}

.ES_detailTab-title>.nav-tabs>li:hover {
    padding-top: 4px;
    background: #FFF;
    border-bottom: 1px solid #FFF;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab4:hover {
    border-top: 4px solid #b78bbb;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab3:hover {
    border-top: 4px solid #cbe9ab;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab2:hover {
    border-top: 4px solid #fbbeb9;
}

.ES_detailTab-title>.nav-tabs>.ES_detailTab_tab1:hover {
    border-top: 4px solid #90c4f1;
}

.ES_detailTab-body a.list-group-item .list-group-item-heading {
    margin-right: 15px;
    margin-left: 5px;
}

.ES_detailTab-body p span.glyphicon-chevron-right {
    background: right center;
}

@media (min-width: 361px) and (max-width: 415px) {
    .ES_detailTab-title>.nav-tabs>li {
        font-size: 13px;
    }
}

/*===== 經費統計 ======*/
.top_dashboard {

    text-align: center;
    color: #FFF;
    overflow: hidden;

}

.top_dashboard h3 {
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 0px;

    font-family: Arial;
}

.top_dashboard span {
    font-size: 14px;
}

.top_dashboard p {
    margin-bottom: 0px;

    font-family: Microsoft JhengHei;
}

.fund {

    background: #456fc3;
    padding: 10px;
    margin-right: -7px;
    margin-left: -7px;
}

.Total_fund {
    background: #40bcbc;

}

.reach_fund {
    background: #456fc3;
}

.payable_fund {
    background: #e57368;
}

.bottom_dashboard {
    margin-top: -15px;
    text-align: center;
    overflow: hidden;
}

.execution {
    background: #e5f4ff;
    margin-top: 20px;
    padding: 10px;
    margin-right: -7px;
    margin-left: -7px;
}

.execution_NO {
    color: #40bcbc;
}

.execution .easyPieChart canvas {
    position: absolute;
    text-align: center;
    width: 100%;
}

.reach {
    background: #e5f4ff;
    margin-top: 20px;
    padding: 10px;
    margin-right: -7px;
    margin-left: -7px;
}

.reach_NO {
    color: #456fc3;
}

.reach>.databox-piechart>.easyPieChart {}

.total_pic {
    height: 100px;
    width: 100px;
    display: block;
    margin-bottom: -14%;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    background-color: white;
    height: 40px;

    text-align: center;
}

.img-container img {
    height: 63px;
}

@media (min-width: 370px) and (max-width: 420px) {
    .top_dashboard h3 {
        line-height: 18px;
        font-size: 25px;
        font-family: Microsoft JhengHei;
    }

    .top_dashboard span {
        font-size: 14px;
    }

    .top_dashboard p {
        font-size: 15px;
    }

}

@media (min-width: 320px) and (max-width: 360px) {
    .top_dashboard h3 {
        line-height: 20px;
        font-size: 16px;
    }

    .top_dashboard span {
        font-size: 12px;
    }

    .reach_fund {
        background: #456fc3;
        padding: 10px 5px 10px;

    }

    .eng-table td {
        line-height: 24px;
        padding-left: 10px;
        max-width: 180px;
        padding-right: 5px;
        word-wrap: break-word;
    }
}


.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.p_value {
    text-align: right;
    float: right;
    margin-top: -26px;
    vertical-align: middle;
}

.p_value label {
    margin-left: 25px;
}

.p_value span {
    width:
}

@media screen and (max-width: 650px) {
    .p_value {
        margin-top: 5px;
    }
}

.SEACH {
    text-align: right;
    float: right;
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 999;
}

.SEACHLEFT {
    text-align: right;
    float: left;
    position: absolute;
    top: 7px;
    left: 5px;
    z-index: 999;
}

.well {
    min-height: 20px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #cdf1fc;
    color: #31b0d5;
    /*    border: 1px solid #e3e3e3;*/
    border: none;
    border-radius: 4px 0 4px 4px;
    -webkit-box-shadow: 3px 3px 3px #b3b3b3;
    box-shadow: 3px 3px 3px #b3b3b3;

    margin-top: 1px;

}

.well label {
    margin-right: 10px;
}

.well hr {
    border-top: 1px solid #31b0d5;
    margin-top: -10px;
    margin-bottom: 10px;
}

.well h4 {
    text-indent: 0;
    margin-bottom: 22px;
}

.well input[type="text"] {
    border: none;
    width: 150px;
    color: #198cae;
}

.well select {
    border: none;
    width: 150px;
    color: #198cae;
}


.AAA {
    overflow: hidden;
    margin-right: 15px;
}

/*===== 地震 ======*/
.Earthquake_img img {
    width: 100%;
}

/*===== CCTV======*/
.btn-xs {
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.CCTV_img img {
    width: 100%;
}


/*==20201231新增 時間 +指定日期+區間統計==============================*/
.DataTimeInfo {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.DataTimeInfo>.SEACHLEFT {
    position: absolute;
    top: 35px;
    right: 5px;
    left: initial;
}


/*==20210302新增 隱藏雨量點位==============================*/
.MarginR3px{
    margin-right:3px;
}