html, body {
	height: 100%;
}
.login-title {
	width: 397px;
	height: 146px;
	background: url(../img/LOGIN_LOGO.png) no-repeat;
	margin: 5px auto 10px;
	text-indent: -9999px;
}
.fullscreen_bg {
	/*position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(../img/color-splash.jpg);
	background-repeat: repeat;
	min-height: 100%;
}
.accounth3 {
	font-size: 24px;
	text-align: center;
	color: #FFF;
	text-shadow: 3px 3px 3px #666;
	letter-spacing: 1px;
}
@media screen and (max-width:1024px) {
.login-title {
	background-size: 397px 146px;
	margin-top: 80px;
	margin-bottom: 40px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	width: 40%;
	margin: 0 auto;
}
}
@media screen and (max-width:773px) {
.login-title {
	background-size: 397px 146px;
	margin-top: 40px;
	margin-bottom: 5px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	width: 60%;
	margin: 0 auto;
}
}
 @media screen and (max-width:667px) {
.login-title {
	background-size: 397px 146px;
	margin-top: 0px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	width: 70%;
	margin: 0 auto;
}
}
@media screen and (max-width:568px) {
.login-title {
	background-size: 397px 146px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.accounth3 {
	margin-top: -30px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	font-size: 18px;
	width: 100%;
}
}
@media screen and (max-width:414px) {
.login-title {
	margin-top: 40px;
	margin-bottom: 20px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	width: 100%;
	margin-top: 20px;
}
}
 @media screen and (max-width:375px) {
.login-title {
	background-size: 350px 129px;
}
input[type="text"], input[type="password"], .form-group .btn-login {
	width: 100%;
	margin-top: 20px;
}
}
@media screen and (max-width:320px) {
.login-title {
	background-size: 300px 110px;
	margin-bottom: -20px;
}
.accounth3 {
	margin-top: -30px;
}
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-group .btn-login {
	background-color: #59B2E0;
	font-family: "Microsoft JhengHei";
	outline: none;
	color: #fff;
	font-size: 20px;
	height: auto;
	font-weight: normal;
	padding: 6px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.form-group .btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #2659c1;
	border-color: #53A3CD;
	font-family: "Microsoft JhengHei";
}
.forgot-password {
	text-decoration: underline;
	color: #585858;
	font-family: "Microsoft JhengHei";
	font-size: 14px;
}
.form-group {
	margin-top: 7px;
}
input:hover, input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
	background: rgba(255,255,255,0.5);
	color: #555;
}
input[type="text"], input[type="password"] {
	height: 45px;
	border: 1px solid #52cae5;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	background: rgba(255,255,255,0.5);
	font-size: 22px;
}
input[type="text"] {
	height: 45px;
	border: 1px solid #52cae5;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	background: rgba(255,255,255,0.5) url(../img/Lock.png) no-repeat right;
}
input[type="password"] {
	height: 45px;
	border: 1px solid #52cae5;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	background: rgba(255,255,255,0.5) url(../img/KEY.png) no-repeat right;
}
form#login_form {
	padding: 15px;
}
 input[type="text"]::-webkit-input-placeholder {
 color:#333;
}
input[type="password"]::-webkit-input-placeholder {
 color:#333;
}
