@charset "UTF-8";
/*水情介面更新 2017/10/19*/


/*區塊共同樣式*/

.alert-base {
    font-size: 18px;
    color: #fff;
    border-width: 0;
    border-radius: 0;
    margin-bottom: 5px;
    padding: 8px 3px 3px 8px;
}

.alert-base button {
    margin-top: -3px;
    margin-right: 5px;
}

.info_base h4 {
    color: #FFF;
    padding-bottom: 11px;
    padding-top: 11px;
    overflow: hidden;
    line-height: 20px;
    font-size: 16px;
    border-top: 1px solid #FFF;
    margin-bottom: 0;
}

.info_base h4 label {
    padding: .5em .5em;
    vertical-align: 4px;
    display: inline-block;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: right;
    border-radius: .25em;
    text-indent: 0px;
}


/*.info_base h4 label span {
    display:inline-block;
    margin-right:5px;
}*/


/*---------------------------*/


/*藍色區塊 alert-blue*/

.alert-blue {
    background: #3179bf;
}

.info_blue {
    background: #C2F4FF;
}

.info_blue h4 {
    background: #2aafe4;
}

.info_blue h4 label {
    background: #3079C1;
    border: 1px solid #3789CC;
}

.info_blue h4.subtitle {
    color: #333333;
    background: #C2F4FF;
    border-top: 1px solid #2aafe4;
    /*text-indent: 26px;*/
}

.info_blue h4.nosubtitle {
    color: #333333;
    background: #C2F4FF;
    border-top: 1px solid #C2F4FF;
    margin-left: 15px;
    display: none;
}

/*綠色區塊 alert-green*/

.alert-green {
    background: #267539;
}

.info_green {
    background: #EBFFE1;
}

.info_green h4 {
    background: #4aaf45;
}

.info_green h4 label {
    background: #238243;
    border: 1px solid #4aaf45;
}

.info_green h4.subtitle {
    color: #333333;
    background: #EBFFE1;
    border-top: 1px solid #96CA38;
    /*text-indent: 26px;*/
}

.info_green h4.nosubtitle {
    color: #333333;
    background: #EBFFE1;
    border: 1px solid #EBFFE1;
    margin-left: 15px;
    display: none;
}

/*紫色區塊 alert-purple*/

.alert-purple {
    background: #633382;
}

.info_purple {
    background: #BB95CD;
}

.info_purple h4 {
    background: #9a72ad;
}

.info_purple h4 label {
    background: #623382;
    border: 1px solid #a46dca;
}


/*.info_purple h4.CC_GETBOX {
    color: #333333;
    background: #F0D7FF;
    border-top: 1px solid #BB95CD;
}*/

.info_purple h4.subtitle {
    color: #333333;
    background: #F0D7FF;
    border-top: 1px solid #BB95CD;
    /*text-indent: 26px;*/
}


/*粉紅區塊 alert-pink*/

.alert-pink {
    background: #ab2b59;
}

.info_pink {
    background: #BB95CD;
}

.info_pink h4 {
    background: #da6790;
}

.info_pink h4 label {
    background: #ab2c59;
    border: 1px solid #cc507c;
}


/*.info_pink h4.YS_GETBOX {
    color: #333333;
    background: #F6D6E3;
    border-top: 1px solid #E887AA;
}*/

.info_pink h4.subtitle {
    color: #333333;
    background: #F6D6E3;
    border-top: 1px solid #E887AA;
    /*text-indent: 26px;*/
}

/*20190723新增縮短第三層行高*/
h4.nosubtitle {
    line-height: 12px;
}

/*--------------------*/


/*歷線圖按鈕*/

.btn-orange {
    color: #ffffff;
    background-color: #F98628;
    border-color: #CF600E;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open>.dropdown-toggle.btn-orange {
    color: #ffffff;
    background-color: #FBB06D;
    border-color: #F98628;
}

.btn-orange:active,
.btn-orange.active,
.open>.dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #F98628;
    border-color: #CF600E;
}

.btn-orange .badge {
    color: #CF600E;
    background-color: #ffffff;
}

@media (max-width: 320px) {

    .alert-base {
        padding: 6px 3px 9px 8px;
    }

    .alert-base img {
        display: none;
    }

    .alert-base button {
        margin-right: 2px;
    }
}


/*電廠介面樣式*/

.well input[type="text"] {
    text-indent: 3px;
}

.well input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b9b9b9;
}

.well input::-moz-placeholder {
    /* Firefox 19+ */
    color: #b9b9b9;
}

.well input:-ms-input-placeholder {
    /* IE 10+ */
    color: #b9b9b9;
}

.well input:-moz-placeholder {
    /* Firefox 18- */
    color: #b9b9b9;
}


/*合計 日月年增高*/

.info_base_XL h4 {
    padding-bottom: 11px;
    padding-top: 11px;
    overflow: hidden;
    line-height: 20px;
    font-size: 18px;
    border-top: 1px solid #FFF;
    margin-bottom: 0;
}

.info_blue h4.title_h4 {
    background: #3a83c1;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}

.info_green h4.title_h4 {
    background: #3d943f;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}

.info_purple h4.title_h4 {
    background: #8758a9;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}

.zoom_controls a {

    display: block;
    width: 55px;
    padding: 5px;
    line-height: 16px;
    margin-top: 3px;
    float: left;
    text-decoration: none;
    color: black !important;
    text-align: center;
    border: 1px #CCC inset;
    background-color: #aaa;

    /* Should look a lot like the original :) */

    background-image: linear-gradient(bottom, rgb(214, 214, 214) 34%, rgb(232, 232, 232) 100%);
    background-image: -o-linear-gradient(bottom, rgb(214, 214, 214) 34%, rgb(232, 232, 232) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 214, 214) 34%, rgb(232, 232, 232) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(214, 214, 214) 34%, rgb(232, 232, 232) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 214, 214) 34%, rgb(232, 232, 232) 100%);
}

.zoom_controls a:hover {
    background-color: #a6d1ff;
    background-image: linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
}

.zoom_controls a.active {
    background-color: #a6d1ff;
    background-image: linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -o-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(118, 175, 201) 34%, rgb(166, 209, 255) 100%);
}

/*20190627新增即時資訊*/
strong.textRightTitle {
    width: 125px;
    text-align: right;
    display: inline-block;
    text-indent: 0;
    font-weight: 500;
}

/* 20190724新增深色title 本日本月本年 */
/*本日*/
h4.darkBlue {
    background: #3597dc;
}
/*本月*/
h4.darkGreen {
    background: #2b9026;
}
/*本年*/
h4.darkPurple {
    background: #825298;
}

/*紅區塊 alert-red*/

.alert-red {
    background: #b70808;
}

.info_red h4 {
    background: #da645e;
}

.info_red h4.doubleLine {
    border-top: 4px double #FFF;
}