body
{
	overflow: hidden;
}
.map_header {
    margin-top: 10px;
    width: 100%;
    margin-left: 5px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.map_nav {
	margin-right: 10px;
}
.map_nav > li {
	float: left;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 66px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	text-align: center;
	height: 53px;
	list-style: none;
	margin-left: 5px;
}
.map_nav > li > a {
	text-decoration: none;
}
.map_nav > li:hover, .map_nav > li.active {
	color: #333;
	background: #E9F0FD;
	border-color: #cbdaf6;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.map_nav > li > ul {
	display: none;
}/* 正常的時候 ul 不顯示*/
.map_nav > li.active ul, .map_nav > li:hover ul {
	display: block;
}/*active跟hover時 ul 顯示出來*/
.map_nav_sub {
	width: 140px;
	padding-left: 0px;
	margin-top: 7px;
	background: #E9F0FD;
	text-indent: 6px;
	border-radius: 0 0 8px 8px;
}
.map_nav_sub li {
	border-bottom: 1px solid #a2b9e2;
	list-style: none;
	text-align: left;
	line-height: 46px;
	height: 46px;
	color: #5575af;
}
.map_nav_sub li:last-child {
	border-bottom: none;
}
.map_nav_sub li {
	text-decoration: none;
}
.map_nav_sub li span {
	padding-left: 5px;
	padding-right: 5px;
}
.map_nav_sub li input[type=checkbox] { position:relative; top:2px;
}
