body {
    font-family: sans-serif;
    /*字體*/
    background-color: rgb(171, 215, 253);
    /*背景色*/
}

.center {
    display: flex;
    /*左右並排*/
    justify-content: center;
    align-items: center;
}

.blockone {
    background-color: #5392ea;
    width: 120%;/*暴力調寬*/
    margin: -8px;/*暴力上移*/
}

.blockoneone {
    display: flex;
    /*左右並排*/
    height: 40px;
    /*block高度*/

}

.blockonetext {
    font-size: 30px;
    /*字體大小*/
    font-weight: bold;
    /*粗體*/
    color: white;
    /*字體顏色*/
    text-align: left;
    /*字體靠左*/
}

.blocktwo {
    width: 50%;
    height: 300px;
    margin-top: 50px;
    background-color: rgb(107, 168, 254);
    /*background-color:#a4bcdf;*/
    border-radius: 10px;
    /*圓角*/
}

.blocktwo_login {
    flex: none;
    font-size: 30px;
    color: white;
    /*字體顏色*/
    text-align: center;
    /*字體置中*/
    margin-top: 5px;
}
