.searchbox-input{
    background-color: #E8DFCA;
}

.nav-searchbox{
    display: flex;
}

.nav-bg{
    background-color: #F7ECDE;
}

.nav-tabs{
    background-color: #F5EFE6;
}

.container img{
    display:block;
    width: 150px;
}

.container li{
    display: inline-grid;
    width: 33%;
}

#signup_process .active{
    background-color: aliceblue;
    border-radius: 25px;
}