select{
    padding: 4px 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#PointName{
    color: black;
    font-size: 16px;
}
#InfoTime{
    color: lightskyblue;
    font-size: 12px;
}
#MappingIntensity{
        color: red;
        font-size: 26px;
}

.ReturnButton{
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #666;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.LocTittle{
    text-align: center;
    background-color: blue;
    color:white;
}

.ResultDetail > p {
    display: inline;

}

.DataT{
    text-align: left;
}

.DataD{
    color:rgb(60, 122, 255);
    text-align: right;
}

.DataU{
    text-align: right;
}

li {
    background-color: lightgray;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    float: left;
    font-size: 14px;
}
li:hover{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    float: left;
    font-size: 14px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

.InsideTittle{
    justify-content: space-around;
    display: flex;
	background-color: blue;
	color: #fff;
    padding: 4px 4px;
}

.ResultImage {
    
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 390px;
    width: 844px;
}
.ResultImage img {
    position: absolute;
    top: 0;
    height: 250px;
    width: 390px;
    display: none;
}


